.Nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: lightblue;
    margin: 0 auto;
    min-height: 56px;
    font-size: 30px;
}

.Nav li {
    display: inline;
}

.Nav img {
    height: 30px;
    width: 30px;
    margin-right: 10px; 
}