.form-container{
    display: flex;
    direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
  
.form-container li{
    margin: 10px;
}

.recipe-container {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 90%;
}
  
.recipe-item {
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
}
  
.recipe-item:hover {
    border: 1px solid #777;
}
  
.recipe-item img {
    margin-top: 20px;
    border-radius: 15px;
    height: 220px;
    width: 220px;
}
  
.recipeDetail-container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    margin-top: 5rem;
}